body,
    html, #root {
        height: 100vh;
        width: 100vw;
        padding: 0;
        margin: 0;
    }

    .main {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    input {
        margin: 5px;
        padding: 10px;
    }

    button {
        padding: 10px;
    }

    .chat-area {
        margin-top: 50px;
        border: 1px solid;
        min-width: 500px;
        min-height: 500px;
        max-height: 500px;
        display: flex;
        flex-direction: column;
    }

    .messages {
        display: flex;
        flex-direction: column;
        padding: 20px;
        flex-grow: 1;
        overflow-x: auto;
    }

    .me,
    .other {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        display: flex;
        flex-direction: column;
        padding: 10px 15px;
        margin-bottom: 8px;
    }

    .author {
        font-size: 12pt;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .messages .me {
        align-self: flex-start;
        background: lightgreen;
    }

    .messages .other {
        align-self: flex-end;
        background: coral;
    }

    .chat-area.blocked {
        display: none;
    }